/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "compass/css3/flexbox",
"compass/reset";

/*// Core variables and mixins*/

@import "bootstrap/variables";
@import "bootstrap/mixins";

// Components
@import "bootstrap/close";
/*// Core CSS*/

@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "logo";

// Components w/ JavaScript
@import "bootstrap/modals";
$font: "Microsoft YaHei",
"Arial",
"黑体",
"宋体",
sans-serif;
$border-color:#dddbdb;
body {
    font-family: $font;
    min-width: 600px;
    min-height: 600px;
}

html {
    height: 100%;
}

.page {
    @include display-flex(flex);
    @include flex-direction(column);
    height: 100%;
}

.banner {
    height: 105px;
    background-color: #5cc1ce;
    .set-width {
        max-width: 980px;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    .logo {
        @include display-flex(flex);
        height: 100%;
        cursor: default;
        img:first-child {
            width: 70px;
            height: 70px;
            margin: auto 0;
        }
        img:last-child {
            width: 144px;
            height: 50px;
            margin: auto 0;
            margin-left: 10px;
        }
    }
    .nav {
        position: absolute;
        right: 0;
        bottom: 0;
        li {
            display: inline-block;
            font-size: 19px;
            color: #dfdfe7;
            padding: 0 10px;
            cursor: pointer;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
        }
        li:not(:last-child) {
            &:hover {
                color: #fdfdfe;
            }
        }
        .login,
        .signin {
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            padding: 0 3px;
            &:hover {
                color: #fdfdfe;
            }
        }
    }
}

.behavior {
    position: relative;
    @include flex(1);
    @include display-flex(flex);
    min-height: 130px;
    @include justify-content(center);
    @include align-items(center);
    background-color: #a8d8cb;
    .dealing-orders {
        position: relative;
         .show {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
        .pre-orders,
        .doing-orders,
        .history-orders {
            position: absolute;
            top: -27px;
            height: 27px;
            width: 146px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            border: 3px solid $border-color;
            border-bottom: 0;
            font-size: 17px;
            padding: 0 14px;
            color: #dfdfe7;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
        .pre-orders {
            background-color: #e71f19;
            left: 89px;
        }
        .doing-orders {
            background-color: #df6640;
            left: 302px;
        }
        .history-orders {
            background-color: #7cba67;
            left: 519px;
        }
    }
    .orders-container {
        position: relative;
        width: 737px;
        height: 332px;
        border: 4px solid $border-color;
        overflow: hidden;
        padding: 14px 10px 10px 12px;
        background-color: #b4cdc7;
        .mCSB_container {
            margin-right: 19px;
        }
        ul[role='prev-orders']{
            display: block
        }
        ul[role='doing-orders'],ul[role='history-orders']{
            display: none;
        }
        li {
            height: 102px;
            width: 100%;
            border-bottom: 2px solid $border-color;
            color: #0a0a0b;
            margin-bottom: 20px;
            list-style-type: none;
            .delivering,
            .self-pick,
            .receiving-method {
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                box-sizing: content-box;
            }
            .delivering {
                display: none;
                width: 450px;
                position: absolute;
                left: 0;
                top: 0;
            }
            .self-pick {
                display: block;
            }
            th {
                padding-bottom: 2px;
                font-size: 16px;
                font-weight: bold;
                padding-right: 3px;
            }
            td {
                position: relative;
                padding-bottom: 2px;
                font-size: 15px;
                padding-right: 12px;
            }
            td[role="order-num"] {
                padding-right: 70px;
            }
            button {
                float: right;
                margin: 0 4px;
                border: 4px solid #616161;
                height: 14px;
                line-height: 14px;
                box-sizing: content-box;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

.footer {
    height: 102px;
    .set-width {
        max-width: 980px;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    .row {
        font-size: 13px;
        line-height: 1.8;
        a {
            color: #000;
            font-weight: bold;
        }
        div {
            text-align: center;
        }
    }
    .row:first-child {
        font-size: 16px;
    }
    img {
        position: absolute;
        top: 0;
    }
    @media(min-width: 768px) {
        img {
            right: -0.1%;
        }
    }
    @media(min-width:1175px) {
        img {
            right: -90px;
        }
    }
}
